### Daum Exchange
- `https://finance.daum.net`

In [2]:
import pandas as pd
import requests

In [4]:
url = "https://finance.daum.net/api/exchanges/summaries"
headers = {
    "user-agent": "user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    "referer": "https://finance.daum.net/exchanges",
}
response = requests.get(url, headers=headers)
response

In [7]:
datas = response.json()["data"]
df = pd.DataFrame(datas)
df.head(1)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2022-07-08 23:45:36,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (KRW/USD),558,1300.0,...,0.000384,1322.75,1277.25,1287.3,1312.7,None,None,3.6743,1.0,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [8]:
columns = ["date", "currencyCode", "currencyName", "country", "name", "basePrice"]
df[columns].head()

,date,currencyCode,currencyName,country,name,basePrice
0,2022-07-08 23:45:36,USD,달러,미국,미국 (KRW/USD),1300.00
1,2022-07-08 23:45:35,JPY,엔,일본,일본 (KRW/JPY100),956.76
2,2022-07-08 23:45:35,CNY,위안,중국,중국 (KRW/CNY),194.45
3,2022-07-08 23:45:35,EUR,유로,유로,유로 (KRW/EUR),1323.14
4,2022-07-08 23:45:35,GBP,파운드,영국,영국 (KRW/GBP),1564.42