### WebCrawing
- 웹페이지의 종류
    - 정적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 : Html
    - 동적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 X : Json
- requests package
    - 브라우져의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력 : URL입력 > Data 가져옴
    - requests 패키지 : URL > Data

### Naver Stock Data
- Kospi 주가 지수
- Kosdaq 주가 지수
- USD : 원달러 환율

### KOSPI 데이터 수집 코드 작성

In [3]:
# 필요한 패키지 import
import requests
import pandas as pd

In [ ]:
# 1. ** 웹서비스를 분석 ** : 크롬 개발자도구 사용(트래픽 확인) > URL 얻음
# https://m.stock.naver.com/

In [3]:
url = "https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4"

In [ ]:
# 2. requests > response : JSON(str)

In [5]:
response = requests.get(url)
response

In [7]:
response.text[:200]

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice"'

In [ ]:
# 3. JSON(str) > list, dict > DataFrame 출력

In [8]:
data = response.json()
type(data), data[:1]

(list,
 [{'localTradedAt': '2022-06-22',
   'closePrice': '2,342.81',
   'compareToPreviousClosePrice': '-66.12',
   'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
   'fluctuationsRatio': '-2.74',
   'openPrice': '2,417.11',
   'highPrice': '2,418.05',
   'lowPrice': '2,342.81'}])

In [12]:
df = pd.DataFrame(data)[["localTradedAt", "closePrice"]]
df.tail(2)

  localTradedAt closePrice
8    2022-06-10   2,595.87
9    2022-06-09   2,625.44

### KOSDAQ 데이터 수집 코드 작성

In [ ]:
# 1. 웹서비스를 분석

In [9]:
url = "https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=4"

In [10]:
# 2. requests > response : JSON(str)

In [11]:
response = requests.get(url)
response.text[:200]

'[{"localTradedAt":"2022-06-22","closePrice":"746.96","compareToPreviousClosePrice":"-31.34","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-4.03","openPrice":"'

In [12]:
# 3. JSON(str) > list, dict > DataFrame 출력

In [13]:
data = response.json()
df = pd.DataFrame(data)[["localTradedAt", "closePrice"]]
df.tail(2)

  localTradedAt closePrice
8    2022-06-10     869.86
9    2022-06-09     877.18

### 함수 만들기
- param : pagesize, page

In [4]:
def stock_price(pagesize, page, code):
    url = f"https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}"
    
    response = requests.get(url)
    data = response.json()
    
    return pd.DataFrame(data)[["localTradedAt", "closePrice"]]

In [5]:
stock_price(10, 4, 'KOSDAQ')

  localTradedAt closePrice
0    2022-06-22     746.96
1    2022-06-21     778.30
2    2022-06-20     769.92
3    2022-06-17     798.69
4    2022-06-16     802.15
5    2022-06-15     799.41
6    2022-06-14     823.58
7    2022-06-13     828.77
8    2022-06-10     869.86
9    2022-06-09     877.18

In [6]:
stock_price(10, 4, 'KOSPI')

  localTradedAt closePrice
0    2022-06-22   2,342.81
1    2022-06-21   2,408.93
2    2022-06-20   2,391.03
3    2022-06-17   2,440.93
4    2022-06-16   2,451.41
5    2022-06-15   2,447.38
6    2022-06-14   2,492.97
7    2022-06-13   2,504.51
8    2022-06-10   2,595.87
9    2022-06-09   2,625.44