### API
- application programing interface
- api를 사용해서 데이터를 수집하는 것은 서비스에 데이터를 제공하는 공식적인 방법으로 데이터 수집
- naver api : papago api : 네이버 제공 번역 서비스

In [1]:
import pandas as pd
import requests, json

In [2]:
# 1. APP 등록 > app_key 수집(request_token)
# https://developers.naver.com

In [12]:
CLIENT_ID, CLIENT_SECRET = "3IggRLfWgbei77lDntce", "cmsf8eaQPA"

In [13]:
# 2. Naver api Document 확인 > URL

In [14]:
txt = "파이썬은 재미있습니다."
url = "https://openapi.naver.com/v1/papago/n2mt"
params = {
    "source" : "ko",
    "target": "en",
    "text" : txt
}
headers = {
    "Content-Type" : "application/json",
    "X-Naver-Client-Id": CLIENT_ID,
    "X-Naver-Client-Secret": CLIENT_SECRET,
}

In [15]:
# 3. request(url, app_key) > response(json) : JSON(str)

In [16]:
# json.dumps() : 인터넷 트래픽에서는 영문, 숫자, 특수문자만 사용가능
# 한글과 같은 문자를 인코딩(영문, 숫자, 특수문자로 변환해줌)

In [17]:
response = requests.post(url, json.dumps(params), headers=headers)
response.text[:200]

'{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Python is fun.","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.n'

In [18]:
# 4. JSON(str) > list, dict > dataFrame

In [20]:
txt_en = response.json()["message"]["result"]["translatedText"]

In [ ]:
# 5. 함수로 작성

In [21]:
def translate(txt):

    CLIENT_ID, CLIENT_SECRET = "3IggRLfWgbei77lDntce", "cmsf8eaQPA"
    url = "https://openapi.naver.com/v1/papago/n2mt"
    
    params = {
        "source" : "ko",
        "target": "en",
        "text" : txt
    }
    
    headers = {
        "Content-Type" : "application/json",
        "X-Naver-Client-Id": CLIENT_ID,
        "X-Naver-Client-Secret": CLIENT_SECRET,
    }
    
    response = requests.post(url, json.dumps(params), headers=headers)
    txt_en = response.json()["message"]["result"]["translatedText"]
    
    return txt_en

In [22]:
txt = "웹크롤링은 재미있습니다."
txt_en = translate(txt)
txt_en

'Web crawling is fun.'

In [23]:
# 6. 한글 엑셀 파일을 영문으로

In [24]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Webcrawing\20220803\code 디렉터리

2022-08-03  오후 04:52    <DIR>          .
2022-08-03  오후 04:52    <DIR>          ..
2022-08-03  오후 03:41    <DIR>          .ipynb_checkpoints
2022-08-03  오후 03:37            33,157 01_requests_naver_stock.ipynb
2022-08-03  오후 04:52            15,564 02_requests_api.ipynb
2022-08-03  오후 04:45            10,060 covid.xlsx
               3개 파일              58,781 바이트
               3개 디렉터리  134,408,421,376 바이트 남음

In [25]:
covid = pd.read_excel("covid.xlsx")[["category", "title"]]
covid.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [26]:
covid_en = covid["title"].apply(translate)

In [28]:
covid['title_en'] = covid_en
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [29]:
covid.to_excel("covid_en.xlsx", index=False, encoding="utf-8-sig")

In [ ]:
# 함수 : Scope
# 변수를 선언할 때 함수 밖에서 선언하는 것과 함수 안에서 선언하는 변수의 메모리 저장공간이 다름
# 전역(global)영역 : 함수 밖의 영역
# 지역(local)영역 : 함수 안의 영역
# global : 지역 영역에서 전역영역에 있는 변수를 가져올 때 사용

In [33]:
data = 10

def change():
    global data # 전역영역에 있는 data를 지역영역으로 가져옴
    data = 20
    
change()
print(data)

20

In [ ]:
# 실습 과제
# https://finance.daum.net/exchanges
# headers : referer, user-agent 설정

In [39]:
import pandas as pd
import requests

In [51]:
headers = {
    "user-agent": "user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    "referer": "https://finance.daum.net/exchanges",
}
url = "https://finance.daum.net/api/exchanges/summaries"

In [52]:
response = requests.get(url, headers=headers)
response.text[:200]

'{"data":[{"symbolCode":"FRX.KRWUSD","date":"2022-08-03 17:07:12","currencyCode":"USD","currencyName":"달러","currencyUnit":1,"country":"미국","region":{"korName":"아메리카","engName":"America"},"name":"미국 (KR'

In [54]:
data = response.json()['data']
df = pd.DataFrame(data)
df.head(1)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2022-08-03 17:07:12,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (KRW/USD),416,1311.5,...,0.000381,1334.45,1288.55,1298.7,1324.3,None,None,4.1352,1.0,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [55]:
columns = ["date", "currencyCode", "currencyName", "country", "name", "basePrice"]
df[columns].head()

,date,currencyCode,currencyName,country,name,basePrice
0,2022-08-03 17:07:12,USD,달러,미국,미국 (KRW/USD),1311.50
1,2022-08-03 17:07:12,JPY,엔,일본,일본 (KRW/JPY100),985.24
2,2022-08-03 17:07:11,CNY,위안,중국,중국 (KRW/CNY),193.87
3,2022-08-03 17:07:11,EUR,유로,유로,유로 (KRW/EUR),1335.63
4,2022-08-03 17:07:11,GBP,파운드,영국,영국 (KRW/GBP),1599.90